<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SBS NDS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5997BFE39F9A1BDCC32C9DCBC0F110472D4FB9E1</string>
				<key>dateExpires</key>
				<string>17/9/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5997BFE39F9A1BDCC32C9DCBC0F110472D4FB9E1</string>
						<key>dateExpires</key>
						<string>17/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LA2TGF2T65</string>
						<key>name</key>
						<string>Gemini Soft Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5997BFE39F9A1BDCC32C9DCBC0F110472D4FB9E1</string>
						<key>dateExpires</key>
						<string>17/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LA2TGF2T65</string>
						<key>name</key>
						<string>Gemini Soft Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5997BFE39F9A1BDCC32C9DCBC0F110472D4FB9E1</string>
						<key>dateExpires</key>
						<string>17/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LA2TGF2T65</string>
						<key>name</key>
						<string>Gemini Soft Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5997BFE39F9A1BDCC32C9DCBC0F110472D4FB9E1</string>
						<key>dateExpires</key>
						<string>17/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalInAppMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LA2TGF2T65</string>
						<key>name</key>
						<string>Gemini Soft Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5997BFE39F9A1BDCC32C9DCBC0F110472D4FB9E1</string>
						<key>dateExpires</key>
						<string>17/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLiveActivities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LA2TGF2T65</string>
						<key>name</key>
						<string>Gemini Soft Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5997BFE39F9A1BDCC32C9DCBC0F110472D4FB9E1</string>
						<key>dateExpires</key>
						<string>17/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LA2TGF2T65</string>
						<key>name</key>
						<string>Gemini Soft Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5997BFE39F9A1BDCC32C9DCBC0F110472D4FB9E1</string>
						<key>dateExpires</key>
						<string>17/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LA2TGF2T65</string>
						<key>name</key>
						<string>Gemini Soft Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5997BFE39F9A1BDCC32C9DCBC0F110472D4FB9E1</string>
						<key>dateExpires</key>
						<string>17/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LA2TGF2T65</string>
						<key>name</key>
						<string>Gemini Soft Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5997BFE39F9A1BDCC32C9DCBC0F110472D4FB9E1</string>
						<key>dateExpires</key>
						<string>17/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LA2TGF2T65</string>
						<key>name</key>
						<string>Gemini Soft Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5997BFE39F9A1BDCC32C9DCBC0F110472D4FB9E1</string>
						<key>dateExpires</key>
						<string>17/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalUser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LA2TGF2T65</string>
						<key>name</key>
						<string>Gemini Soft Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5997BFE39F9A1BDCC32C9DCBC0F110472D4FB9E1</string>
						<key>dateExpires</key>
						<string>17/9/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LA2TGF2T65</string>
						<key>name</key>
						<string>Gemini Soft Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LA2TGF2T65.com.gemiso.sbsnds.dev</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LA2TGF2T65</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>webEditApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8e90354b-7189-45b8-8bab-ebd3c90fbbba</string>
				<key>dateExpires</key>
				<string>17/9/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.gemiso.sbsnds.dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LA2TGF2T65</string>
				<key>name</key>
				<string>Gemini Soft Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
